body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.nav {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 5px;
    background-color: grey;
}

.nav-links {
    background-color: grey;
    color: white;
    margin: 0;
    padding: 5px;
    text-decoration: none;
    // border-radius: 10px;

    &:hover {
        background-color: rgb(54, 54, 54);
    }
}