@font-face {
    // MENJATI FONT // nije citak
    font-family: homeTitleFonts;
    src: url("/fonts/Formula1-Regular.ttf");
}

@font-face {
    // za sada zadrzavamo!!
    font-family: mainFontMaybe;
    src: url("/fonts/formula1mainmaybe.ttf");
}

body {
    font-family: mainFontMaybe;
    margin: 0;
    padding: 0;



    background-color: rgba(18, 19, 20);
}

// .home-body {

// }

#pozadina {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

.navig {
    position: static;
}

.content {
    position: fixed;
    background: rgba(0, 0, 0, 0.80);
    color: #ffffff;
    min-width: 100%;
    min-height: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    h1 {
        font-family: homeTitleFonts;
        font-size: 70px;
        font-style: italic;
    }

    p {
        font-family: mainFontMaybe;
        text-align: center;
        line-height: 1.8;
        margin: 20px 50px;
    }

    .buttons {

        margin: 30px;
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 150px;

        .btn {
            background: transparent;
            color: white;
            border: 2px solid white;
            margin: 10px;
            padding: 20px;
            text-decoration: none;
            font-family: homeTitleFonts;
            font-size: 30px;
            font-weight: bold;
            border-radius: 20px 0;

            &:hover {
                background-color: rgba(255, 0, 0, 0.507);
                // border: 5px solid black;
            }
        }
    }
}

.clickable {
    cursor: pointer;



    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;

    &:hover {
        background-color: rgb(34, 40, 49);
    }
}

.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.nav {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 5px;
    // background-color: grey;
}

.table {
    border-collapse: collapse;
    border: 1px solid black;

    td {
        padding: 0;
    }
}

.nav-links {
    // background-color: grey;
    color: white;
    margin: 0;
    padding: 5px;
    text-decoration: none;

    &:hover {
        background-color: rgb(34, 40, 49);
    }
}




.proba {

    color: white;
    padding: 10px;

    .table {

        width: 100%;
        background-color: rgb(57, 62, 70);

        .vodeciNaslov {
            background-color: rgb(34, 40, 49);
        }

        th {
            padding: 10px;
            color: rgb(148, 137, 121);
            background-color: rgba(34, 40, 49, 0.555);

        }

    }

    tbody {
        td {
            text-align: center;
            color: rgb(223, 208, 184);
        }

        a {
            text-decoration: none;
            color: rgb(223, 208, 184);

            &:visited {
                color: brown;
                // transition: 0.3s;
            }

            &:hover {
                color: white;
            }
        }
    }
}