* {
    box-sizing: border-box;
}

@font-face {
    font-family: homeTitleFonts;
    src: url("/fonts/Formula1-Regular.ttf");
}

@font-face {
    // za sada zadrzavamo!!
    font-family: mainFontMaybe;
    src: url("/fonts/formula1mainmaybe.ttf");
}

@keyframes rotate {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(360deg);
    }
}


body {
    font-family: mainFontMaybe;
    margin: 0;
    padding: 0;
    // OVO JE SAMO ZA PREGLEDNOST 
    // skloniti, i dodati boju belu na tekst na error page-u
    color: #ffffff;
    /////////////////////////////////
    /// 
    /// https://www.youtube.com/shorts/I4jsV3iOsGk
    /// GUSTER

    background-color: rgba(18, 19, 20);
}


#background-video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

.content {
    position: fixed;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.80);
    color: #ffffff;
    min-width: 100%;
    min-height: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    h1 {
        font-family: homeTitleFonts;
        font-size: 70px;
        font-style: italic;
        margin: 0 10px 20px 10px;
    }

    p {
        font-family: mainFontMaybe;
        text-align: center;
        line-height: 1.8;
        margin: 20px 50px;
    }

    .buttons {

        margin: 30px;
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 150px;

        .btn {
            background: transparent;
            color: white;
            border: 2px solid white;
            margin: 10px;
            padding: 20px;
            text-decoration: none;
            font-family: homeTitleFonts;
            font-size: 30px;
            font-weight: bold;
            border-radius: 20px 0;

            &:hover {
                background-color: rgba(116, 0, 0, 0.507);
                // border: 5px solid black;
            }
        }
    }
}


.navig {
    // position: fixed;
    display: flex;
    height: 100px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    // margin: 0 50px;
    padding: 0 10px 20px 10px;

    select {
        font-family: mainFontMaybe;
        // height: 40%;
        width: 235px;
        background-color: transparent;
        color: white;
        border: 1px solid white;
        border-radius: 10px 0;
        padding: 5px;

        option {
            background-color: rgb(34, 40, 49);
            font-family: mainFontMaybe;
        }
    }
}

.nav {
    // position: fixed;
    list-style: none;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding: 0;
    // font-size: 10px;
    // background-color: grey;


}

.nav-links {
    // background-color: grey;
    color: white;
    margin: 0;
    padding: 5px;
    text-decoration: none;

    // border: 1px solid white;
    // border-radius: 10px 0;

    &:hover {
        // background-color: rgb(34, 40, 49);
        color: rgb(116, 0, 0);
    }
}

.search-bar {
    background-color: transparent;
    color: white;
    font-size: 20px;
    font-family: mainFontMaybe;
    border: 1px solid white;
    border-radius: 10px 0;
    padding: 5px;

    // clear ikonica momenat
    position: relative;


    // .clear-icon {
    //     position: absolute;
    // }

    input {
        // padding: 10px;
        // margin: 10px 30px 10px 10px;

        // height: 40px;
        background-color: transparent;
        border: transparent;
        caret-color: white;
        color: white;
        font-family: mainFontMaybe;


        &:focus {
            outline: none;
        }
    }

}

.component-title {
    margin: 0;
    padding: 20px 0;
}

.breadcrumbs {
    // margin: 10px;
    // padding: 10px 0;
    // height: 30px;
    width: 100%;
    display: flex;
    justify-content: left;
    // position: absolute;

    // .breadcrumb-divider {
    //     padding: 50px;
    // }

    ul {
        list-style: none;
        display: flex;
        gap: 10px;
        padding: 0;
        // margin: 10px;

        a {
            text-decoration: none;
            color: white;

            background-color: transparent;
            // border: 1px solid white;
            // border-radius: 10px 0;
            padding: 5px;

            &:hover {
                color: rgb(116, 0, 0);

            }
        }
    }
}

.clickable {
    cursor: pointer;
    text-align: center;

    div {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px 10px;
    }

    &:hover {
        background-color: rgb(34, 40, 49);
    }
}

.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}




.component-wrapper {

    color: white;
    padding: 10px;
    padding-top: 0;

    text-align: center;

    h2 {
        font-size: 30px;
        margin-top: 0;
    }

    .details-card {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: transparent;
        color: rgb(148, 137, 121);
        padding: 15px 15px;
        font-size: 14px;
        border: 1px solid rgb(148, 137, 121);
        border-bottom: none;

        .flag-team-name {
            display: flex;
            align-items: center;
        }

        img {
            width: 100px;
        }

        a {
            text-decoration: none;
            color: rgb(223, 208, 184);

            &:visited {
                color: rgba(116, 0, 0, 0.507);
            }
        }
    }

    .tables-wrapper {
        display: flex;

        gap: 20px;

        border: 1px solid rgb(148, 137, 121);

        padding: 15px;

        font-size: 0;

    }


    .table {

        border-collapse: collapse;

        border: 1px solid rgb(148, 137, 121);

        width: 100%;


        background-color: transparent;
        font-size: 12px;

        .main-table-title {
            background-color: rgb(34, 40, 49);
            border: 1px solid rgb(148, 137, 121);
        }

        th {
            padding: 10px;
            color: rgb(148, 137, 121);
            background-color: rgba(34, 40, 49, 0.555);
            border: 1px solid rgb(148, 137, 121);
        }

        .position-th {
            width: 5%;
        }

    }

    tbody {

        td {
            text-align: center;
            color: rgb(223, 208, 184);
            border: 1px solid rgb(148, 137, 121);

            p {
                margin: 0;
            }

            &:hover {
                background-color: rgb(34, 40, 49);
            }

            div {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 10px;

                svg {
                    width: 2em;
                    height: 2em;
                }
            }
        }

        //////////////  FIRST POSITION ANIMATION //// START  //////////////////////

        .first {
            // border: 5px solid red;
            position: relative;
            overflow: hidden;
            width: 10%;

            .inner {
                position: relative;
                margin: 4px;
                z-index: 1;
                padding: 10px;
                background-color: rgba(18, 19, 20);

                display: flex;
                justify-content: space-between;
                align-items: center;

                span {

                    svg {
                        width: 2em;
                        height: 2em;
                    }
                }
            }
        }

        .first::before {
            content: "";
            display: block;
            background: linear-gradient(90deg,
                    rgba(255, 255, 255, 0) 0%,
                    rgb(160, 131, 0) 25%,
                    white 50%,
                    rgb(160, 131, 0) 75%,
                    rgba(255, 255, 255, 0) 100%);
            height: 200px;
            width: 30px;
            transform: translate(0);
            position: absolute;
            animation: rotate 5s linear forwards infinite;
            z-index: 0;
            top: 50%;
            left: 10%;
            transform-origin: top center;
        }

        //////////////  FIRST POSITION ANIMATION //// END  //////////////////////

        //////////////  SECOND POSITION ANIMATION //// START  //////////////////////

        .second {
            // border: 5px solid red;
            position: relative;
            overflow: hidden;
            width: 10%;

            .inner {
                position: relative;
                margin: 4px;
                z-index: 1;
                padding: 10px;
                background-color: rgba(18, 19, 20);

                display: flex;
                justify-content: space-between;
                align-items: center;
            }
        }

        .second::before {
            content: "";
            display: block;
            background: linear-gradient(90deg,
                    rgba(255, 255, 255, 0) 0%,
                    rgb(72, 92, 102) 25%,
                    white 50%,
                    rgb(72, 92, 102) 75%,
                    rgba(255, 255, 255, 0) 100%);
            height: 200px;
            width: 30px;
            transform: translate(0);
            position: absolute;
            animation: rotate 5s linear forwards infinite;
            animation-delay: 0.1s;
            z-index: 0;
            top: 50%;
            left: 10%;
            transform-origin: top center;
        }

        //////////////  SECOND POSITION ANIMATION //// END  //////////////////////

        //////////////  THIRD POSITION ANIMATION //// START  //////////////////////

        .third {
            // border: 5px solid red;
            position: relative;
            overflow: hidden;
            width: 10%;


            .inner {
                position: relative;
                margin: 4px;
                z-index: 1;
                padding: 10px;
                background-color: rgba(18, 19, 20);

                display: flex;
                justify-content: space-between;
                align-items: center;
            }
        }

        .third::before {
            content: "";
            display: block;
            background: linear-gradient(90deg,
                    rgba(255, 255, 255, 0) 0%,
                    rgb(107, 63, 26) 25%,
                    white 50%,
                    rgb(107, 63, 26) 75%,
                    rgba(255, 255, 255, 0) 100%);
            height: 200px;
            width: 30px;
            transform: translate(0);
            position: absolute;
            animation: rotate 5s linear forwards infinite;
            animation-delay: 0.2s;
            z-index: 0;
            top: 50%;
            left: 10%;
            transform-origin: top center;
        }

        //////////////  THIRD POSITION ANIMATION //// END  //////////////////////


        // ovaj td ce biti izabran zbg boja i to

        // .position-icon-td {
        //     width: 10%;

        //     div {
        //         display: flex;
        //         justify-content: space-between;
        //         align-items: center;
        //         color: rgba(18, 19, 20);
        //     }
        // }

        ///////////////////////
        /// 



        a {
            text-decoration: none;
            color: rgb(223, 208, 184);

            &:visited {
                color: rgba(116, 0, 0, 0.507);
            }

            &:hover {
                color: white;
            }
        }
    }
}

.footer {
    display: flex;
    flex-direction: column;
    background-color: rgb(34, 40, 49);
    color: white;
    padding: 20px;
    text-align: center;

    h4 {
        margin: 0 0 30px 0;
        letter-spacing: 50%;
    }

    div {
        display: flex;
        justify-content: space-around;

        p {
            margin: 0;
        }

        span {
            font-size: 30px;
        }
    }
}